<div class="index-discover-page">
  <div class="index-discover-top-head" >
    <div class="main-discover-container-header">
      <div class="discover-container-headline">
        <div class="index-discover-title">
          <h1> <%= t('discover.title') %> </h1>
        </div>
        <div class="index-discover-subtitle">
          <p> <%= t('discover.subtitle') %> </p>
        </div>
        <div class="discover-info">
          <div class="discover-info-number">
            <h2> 240k+ </h2>
            <p> <%= t('discover.tracks') %> </p>
          </div>
          <div class="discover-info-number">
            <h2> <%= @event.count %> </h2>
            <p> <%= t('discover.events') %> </p>
          </div>
          <div class="discover-info-number">
            <h2> <%= @artist_count %> </h2>
            <p> <%= t('discover.artists') %> </p>
          </div>
        </div>
      </div>
      <div class="discover-container-card">
        <% random_dashboard = @dashboards.sample %>
        <%= render partial: 'dashboards/dashboard_card', locals: { dashboard: random_dashboard } %>
      </div>
    </div>
    <div class="discovery-container-buttons">
      <% if current_user.artist? %>
        <%= link_to t('discover.create_event'), new_event_path, class: "main-app-btn-pri" %>
        <%= link_to t('discover.upload_music'), dashboards_path, class: "main-app-btn-sec" %>
        <%= link_to 'See More/Ver Mas', '#discover-section', class: "main-app-btn-pri", data: { controller: "scroll-to-section" } %>
      <% else %>
        <%= link_to t('discover.create_event'), new_event_path, class: "main-app-btn-pri" %>
        <%= link_to 'See More/Ver Mas', '#discover-section', class: "main-app-btn-pri", data: { controller: "scroll-to-section" } %>
      <% end %>
    </div>
  </div>

  <div id="discover-section" class="discover-container-trend">
      <h2><%= t('discover.search_content') %></h2>
    <div class="search-for-discover">
      <h1> LOOK FOR ARTIST OR GENRE</h1>
    </div>
    <% @dashboards.each do |dashboard| %>
      <%= render partial: 'dashboards/dashboard_card', locals: { dashboard: dashboard } %>
    <% end %>

  </div>
</div>
