<div class="discover">
  <div class="discover-container-header">
    <div class="discover-container-headline">
      <div>
        <h1 class="discover-title">
          Discover Music Gems For Your Next Events
        </h1>
        <p class="discover-subtitle">
          Connect with your favorite artists, get inspiration from the latest trends and discover your sound.
        </p>
      </div>
      <div class="discovery-container-buttons">
        <% if current_user.artist? %>
          <%= link_to "Create Event", new_event_path, class: "discover-btn-primary" %>
          <%= link_to "Upload music", dashboards_path, class: "discover-btn-secondary" %>
        <% else %>
          <%= link_to "Create Event", new_event_path, class: "discover-btn-primary" %>
        <% end %>
      </div>
      <div class="discover-info">
        <div>
          <h2 class="discover-info-number">
            240k+
          </h2>
          <p class="discover-info-text">
            Tracks
          </p>
        </div>
        <div>
          <h2 class="discover-info-number">
            <%= @event.count %>
          </h2>
          <p class="discover-info-text">
            Events
          </p>
        </div>
        <div>
          <h2 class="discover-info-number">
          <%= @artist_count %>
          </h2>
          <p class="discover-info-text">
            Artists
          </p>
        </div>
      </div>
    </div>
    <div class="discover-container-card">
      <div class="discover-card">
        <div class="discover-card-head">
          <div class="discover-card-header">
            <%= image_tag("https://res.cloudinary.com/djuhjudsb/image/upload/v1687812787/2_jv2rnx.jpg", class: "imgCard avatar") %>
            <div>
              <p class="discover-card-main-text">
                Your Next Hit
              </p>
              <p class="discover-card-second-text">
                by You
              </p>
            </div>
          </div>
          <i class="ri-more-2-line ri-xl ri-neutral-20"></i>
        </div>
        <%= video_tag "/main.mp4", class: "discover-card-video", controls: true %>
        <div class="discover-card-foot">
          <div class="discover-card-footer">
            <div class="discover-card-footer-btn">
              <i class="ri-play-circle-fill ri-xl ri-neutral-20"></i>
              <p class="discover-card-second-text">
                25M
              </p>
            </div>
            <div class="discover-card-footer-btn">
              <i class="ri-heart-fill ri-xl ri-neutral-20"></i>
              <p class="discover-card-second-text">
                2M
              </p>
            </div>
          </div>
          <i class="ri-bookmark-line ri-xl ri-neutral-20"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="discover-container-trend">
      <h2>Trending videos</h2>

      <div class="genre-filter-container" data-controller="genre">
        <% @genres.each do |genre| %>
          <%= link_to events_path(genre: genre), class: "genre-icon-link", data: {"genre-target": "genreButton", action: "click->genre#toggleColor" } do %>
            <i data-genre="<%= genre %>" class="<%= @genre_icon_classes[genre] %>"></i>
            <p data-genre="<%= genre %>"><%= genre %></p>
          <% end %>
        <% end %>
      </div>

      <% @discovers.each do |discover| %>
        <div class="discover-container-card">

          <div class="discover-card">
            <div class="discover-card-head">
              <div class="discover-card-header">
                <% if discover.dashboard.avatar.attached? %>
                  <%= image_tag(discover.dashboard.avatar.key, class: "imgCard avatar") %>
                <% else %>
                   <%= image_tag("https://res.cloudinary.com/djuhjudsb/image/upload/v1688063084/development/57irxhd1cokjndwnr3ez7z5udyf5.jpg", class: "imgCard avatar") %>
                <% end %>

                <div>
                  <p class="discover-card-main-text">
                    <%= discover.title %>
                  </p>
                  <p class="discover-card-second-text">
                    <% dashboard = discover.dashboard %>
                    by <%= dashboard.artist_name %>
                  </p>
                </div>
              </div>
              <i class="ri-more-2-line ri-xl ri-neutral-20"></i>
            </div>

            <% if discover.video.attached?%>
              <video class="discover-card-video" controls>
                <source src="<%= url_for(discover.video) %>" type="video/mp4">
                Your browser does not support the video tag
              </video>
            <% else %>
              <%= video_tag "/main.mp4", class: "discover-card-video", controls: true %>
            <% end %>

            <div class="discover-card-foot">
              <div class="discover-card-footer">
                <div class="discover-card-footer-btn">
                  <i class="ri-play-circle-fill ri-xl ri-neutral-20"></i>
                  <p class="discover-card-second-text">
                    <%= discover.plays %>
                  </p>
                </div>
                <div class="discover-card-footer-btn">
                  <i class="ri-heart-fill ri-xl ri-neutral-20"></i>
                  <p class="discover-card-second-text">
                    <%= discover.likes %>
                  </p>
                </div>
              </div>
              <i class="ri-bookmark-line ri-xl ri-neutral-20"></i>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
