<%= link_to :back do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="my-booking-container">
  <% if @my_bookings.empty? %>
    <h1>Looks like you have no pending events</h1>
    <p>please look at all events to see play</p>
    <%= link_to "All Events", events_path, class: "all-events-button" %>
  <% else %>
    <h1>Events I Applied To:</h1>
    <div class="my-booking-row">
      <% @my_bookings.each do |booking| %>
        <div class="my-booking-card-body">
          <%= image_tag booking.event.image, class: "my-booking-card-image" %>
          <div class="my-booking-info" >
            <h5 class="card-title"><%= booking.event.title %></h5>
            <p class="card-subtitle">Event from: <%= booking.event.user.first_name %> <%= booking.event.user.last_name %></p>
            <div class="my-booking-button-group">
              <%= link_to "Details", event_path(booking.event), class: "my-event-details-button" %>
              <%= link_to event_booking_path(booking.event, booking), data: { turbo_method: :delete }, class: "delete-event-button", method: :delete do %>
                <p>Delete Position</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>