<%= link_to :back do %>
  <i class="fas fa-arrow-left"></i>
  <%= t('links.back') %>
<% end %>

<div class="my-booking-container">
  <% if @my_bookings.empty? %>
    <h1><%= t('booking.no_pending_events') %></h1>
    <p><%= t('booking.please_look_at_events') %></p>
    <%= link_to t('booking.all_events'), events_path, class: "all-events-button" %>
  <% else %>
    <h1><%= t('booking.applied_events') %></h1>
    <div class="my-booking-row">
      <% @my_bookings.each do |booking| %>
        <div class="my-booking-card-body">
          <%= image_tag booking.event.image, class: "my-booking-card-image" %>
          <div class="my-booking-info">
            <h5 class="card-title"><%= booking.event.title %></h5>
            <p class="card-subtitle"><%= t('booking.event_from', first_name: booking.event.user.first_name, last_name: booking.event.user.last_name) %></p>
            <div class="my-booking-button-group">
              <%= link_to t('booking.details'), event_path(booking.event), class: "my-event-details-button" %>
              <%= link_to event_booking_path(booking.event, booking), data: { turbo_method: :delete }, class: "delete-event-button", method: :delete do %>
                <p><%= t('booking.delete_position') %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
