<%= link_to :back do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="edit-password-container">
  <h1>Change your password</h1>
  <div class="edit-password-form">
    <%= simple_form_for(@user, url: update_password_user_path(@user), html: { method: :put }) do |f| %>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { class: 'form-control', autocomplete: 'new-password' },
                  hint_html: { class: 'text-white' } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { class: 'form-control', autocomplete: 'new-password' } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { class: 'form-control', autocomplete: 'current-password' },
                  hint_html: { class: 'text-white' } %> 
      <%= f.button :submit, "Update Password", class: 'update-password-button' %>
    <% end %>
  </div>
</div>