<div class="edit-password-container">
  <h1><%= t('password.change_password') %></h1>
  <div class="edit-password-form">
    <%= simple_form_for(@user, url: update_password_user_path(@user), html: { method: :put }) do |f| %>
      <%= f.input :password,
                  hint: t('password.leave_blank'),
                  required: false,
                  input_html: { class: 'form-control', autocomplete: 'new-password' },
                  hint_html: { class: 'text-white' } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { class: 'form-control', autocomplete: 'new-password' } %>
      <%= f.input :current_password,
                  hint: t('password.current_password_hint'),
                  required: true,
                  input_html: { class: 'form-control', autocomplete: 'current-password' },
                  hint_html: { class: 'text-white' } %>
      <%= f.button :submit, t('password.update_password'), class: 'update-password-button' %>
    <% end %>
  </div>
</div>
