<% if user_signed_in? %>
  <footer>
    <div class="footer-container">
      <div class="footer-brand-container">
        <% if current_user.artist? %>
          <% image_url = I18n.locale == :es ? "https://i.postimg.cc/vT8T1xPJ/Copy-of-Clean-Modern-App-Portfolio-Mockup-Presentation-1.png" : "https://i.postimg.cc/bN5zHBCV/Copy-of-Clean-Modern-App-Portfolio-Mockup-Presentation-2.png" %>
          <%= link_to root_path do %>
            <img src="<%= image_url %>" alt="Artist FBL">
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <img src="https://i.postimg.cc/8cmBhvmN/Copy-of-Clean-Modern-App-Portfolio-Mockup-Presentation.png" alt="Radios FBL">
          <% end %>
        <% end %>
        <p class="footer-info-text"><%= t('footer.own_music') %></p>

        <div class="footer-links">
          <a href="https://github.com/RMD96/app_rfbl"><i class="fs-3 text-white text-decoration-none fab fa-github"></i></a>
          <a href="https://www.facebook.com/radios.f.b.l"><i class="fs-3 text-white text-decoration-none fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/estudio.fbl/"><i class="fs-3 text-white text-decoration-none fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="footer-explore-container">
        <h4 class="footer-explore-title"><%= t('footer.explore_title') %></h4>
        <%= link_to t('footer.see_content'), discovers_path, class: "footer-info-text" %>
        <% if current_user.artist? %>
          <%= link_to t('footer.upload_music'), dashboards_path, class: "footer-info-text" %>
        <% else %>
          <%= link_to t('footer.be_artist'), user_id_path(id: @user.id), class: "footer-info-text" %>
        <% end %>
        <%= link_to t('footer.create_event'), new_event_path, class: "footer-info-text" %>
      </div>

      <div id="footer-newsletter-container">
        <div class="input-container">
          <h4 class="footer-newsletter-title"><%= t('footer.newsletter_title') %></h4>
          <p class="footer-info-text"><%= t('footer.exclusive_promotions') %></p>
          <!-- Add your input fields for the newsletter subscription here -->

          <form action="/subscribe" method="POST">
            <div class="footer-input-container">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input id="email" name="email" type="email" class="newsletter-email-input" placeholder="<%= t('footer.enter_email') %>" required>
              <button class="main-app-btn-pri" type="submit"><%= t('footer.subscribe') %></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="lang-switcher-container">
      <p><%= t('footer.you_are_in') %></p>
      <% if I18n.locale == :en %>
        <%= link_to t('footer.change_to_es'), set_language_path(locale: :es), class: "language-switcher", method: :post, data: { csrf_token: form_authenticity_token }, onclick: "alert('Listo pa rokear?')" %>
      <% else %>
        <%= link_to t('footer.change_to_en'), set_language_path(locale: :en), class: "language-switcher", method: :post, data: { csrf_token: form_authenticity_token }, onclick: "alert('Ready to rock?')" %>
      <% end %>
    </div>
    <p class="footer-mellow">© Radios FBL <%= Time.now.year %></p>
  </footer>
<% end %>
