<div id="<%= dom_id event %>">
  <div class="event-render-row">
    <div class="event-render-col">
      <h3><%= t('events.title') %></h3>
      <p> <%= event.title %> </p>
      <h3><%= t('events.description') %></h3>
      <p> <%= event.description %> </p>
      <h3><%= t('events.date') %></h3>
      <p> <%= event.datetime %> </p>
    </div>
    <div class="event-render-col">
      <h3><%= t('events.duration') %></h3>
      <p> <%= event.duration %> </p>
      <h3><%= t('events.genre') %></h3>
      <p> <%= event.genre %> </p>
      <h3><%= t('events.address') %></h3>
      <p> <%= event.address %> </p>
    </div>
  </div>
</div>
