<div id="<%= dom_id event %>" class="container">
  <div class="row mt-4">
    <div class="col-sm-6">
      <p>
        <strong><%= t('events.title') %></strong>
        <%= event.title %>
      </p>

      <p>
        <strong><%= t('events.description') %></strong>
        <%= event.description %>
      </p>

      <p>
        <strong><%= t('events.date') %></strong>
        <%= event.datetime %>
      </p>
    </div>

    <div class="col-sm-6">
      <p>
        <strong><%= t('events.duration') %></strong>
        <%= event.duration %>
      </p>

      <p>
        <strong><%= t('events.genre') %></strong>
        <%= event.genre %>
      </p>

      <p>
        <strong><%= t('events.address') %></strong>
        <%= event.address %>
      </p>
    </div>
  </div>
</div>
