<div id="<%= dom_id event %>" class="container">
  <div class="row mt-4">
    <div class="col-sm-6">
      <p>
        <strong>Title:</strong>
        <%= event.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= event.description %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= event.datetime %>
      </p>
    </div>

    <div class="col-sm-6">
      <p>
        <strong>Duration:</strong>
        <%= event.duration %>
      </p>

      <p>
        <strong>Genre:</strong>
        <%= event.genre %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= event.address %>
      </p>
    </div>
  </div>
</div>
