<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="new-event-form-inputs">
    <%= f.input :title, label: "Event title" %>
    <%= f.input :genre, as: :select, collection: %w[Rock Pop Urban DJ Ballads Tropical Regional Country Instrumental Choir], label: "Music genre" %>
    <%= f.input :description, label: "Description of the event" %>
    <%= f.input :address, label: "Event address",
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
      <%= f.input :image, as: :file, input_html: { accept: 'image/*' }, label: "Add image" %>
    <h3 class="my-3">Event details</h3>
      <label>Date and time</label>
    <div class="row">
      <div class="col-12">
        <%= f.input :datetime, as: :datetime, label: false, html5: true %>
      </div>
    </div>
    <%= f.input :duration, label: "Show duration" %>
  </div>

<div class="create-new-event-btn">
  <%= f.button :submit %>
</div>
<% end %>
