<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="new-event-form-inputs">
    <%= f.input :title, label: t('events.event_title') %>
    <%= f.input :genre, as: :select, collection: %w[Rock Pop Urban DJ Ballads Tropical Regional Country Instrumental Choir], label: t('events.music_genre') %>
    <%= f.input :description, label: t('events.event_description') %>
    <%= f.input :address, label: t('events.event_address'),
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    <%= f.input :image, as: :file, input_html: { accept: 'image/*' }, label: t('events.add_image') %>
    <h3 class="my-3"><%= t('events.event_details') %></h3>
    <label><%= t('events.date_and_time') %></label>
    <div class="row">
      <div class="col-12">
        <%= f.input :datetime, as: :datetime, label: false, html5: true %>
      </div>
    </div>
    <%= f.input :duration, label: t('events.show_duration') %>
  </div>

  <div class="create-new-event-btn">
    <%= f.button :submit, t('events.create_event_button') %>
  </div>
<% end %>
