<%= link_to :back, title: t('back') do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="my-events-container">
  <% if @created_events.empty? %>
    <h1><%= t('my_events.no_events_title') %></h1>
    <p><%= t('my_events.no_events_description') %></p>
    <%= link_to t('my_events.create_event_button'), new_event_path, class: "main-app-btn-pri" %>
  <% else %>
    <h1><%= t('my_events.created_events_title') %></h1>
      <div class="my-events-row" data-event-target="events">
        <% @created_events.each do |event| %>
          <div>
            <%= link_to event do %>
              <div class="my-events-card">
                  <% if event.image.attached? %>
                    <%= image_tag url_for(event.image) %>
                  <% else %>
                    <%= image_tag "https://picsum.photos/seed/picsum/200/200" %>
                  <% end %>
                <h3 class="the-event-title"><%= event.title %></h3>
                <p class="the-event-info"><%= t('my_events.duration') %>: <%= event.duration %> <%= t('my_events.duration_unit') %></p>
                <p class="the-event-info"><%= t('my_events.description') %>: <%= event.description %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <%= link_to t('my_events.create_event_button'), new_event_path, class: "main-app-btn-pri" if policy(Event).new? %>
  <% end %>
</div>
