<%= link_to :back do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="new-event-container">
  <h1 class="new-event-text-title"><%= t("events.new_event_title") %></h1>
  <h3 class="new-event-text-subtitle"><%= t("events.new_event_subtitle") %></h3>
  <p><%= t("events.new_event_description") %></p>

  <%= render "form", event: @event %>
  <br>
</div>
