<div id="<%= dom_id dashboard %>" class="container">
  <div class="row mt-4">
    <div class="col-sm-6">
      <p>
        <strong>Artist Genre:</strong>
        <%= dashboard.artist_genre %>
      </p>

      <p>
        <strong>Artist Count:</strong>
        <%= dashboard.artist_count %>
      </p>

      <p>
        <strong>Artist Name:</strong>
        <%= dashboard.artist_name %>
      </p>

      <p>
        <strong>Artist Instrument:</strong>
        <%= dashboard.artist_instrument %>
      </p>

    <div class="col-sm-6">

      <p>
        <strong>Artist Location:</strong>
        <%= dashboard.artist_location %>
      </p>

      <p>
        <strong>Artist Travel:</strong>
        <%= dashboard.artist_travel %>
      </p>

      <p>
        <strong>Artist Radius:</strong>
        <%= dashboard.artist_radius %>
      </p>

      <p>
        <strong>Artist Cities:</strong>
        <%= dashboard.artist_cities %>
      </p>

    </div>

      <p>
        <strong>Artist Description:</strong>
        <%= dashboard.artist_description %>
      </p>

      <p>
        <strong>Artist Price:</strong>
        <%= number_to_currency(dashboard.artist_price) %>
      </p>

    </div>

  </div>

</div>
