<%= link_to :back do %>
  <i class="fas fa-arrow-left"></i>
  <%= t('links.back') %>
<% end %>

<div class="dashboard-index-container">
  <% if @dashboards.empty? %>
    <h1><%= t('dashboard.no_dashboards') %></h1>
    <p><%= t('dashboard.create_new_dashboard') %></p>
    <%= link_to t('dashboard.create_new_button'), new_dashboard_path, class: "main-app-btn-pri" %>
  <% else %>
    <div class="new-dashboard-row">
      <% @dashboards.each do |dashboard| %>
        <% if dashboard && dashboard.persisted? %>
          <div class="col mb-4">
            <%= link_to dashboard_path(dashboard) do %>
              <div class="new-dashboard-card">
                <%= image_tag dashboard.avatar, class: "dashboard-avatar-img" %>
                <h5><strong><%= t('dashboard.you_are', artist_name: dashboard.artist_name) %></strong></h5>
                <h5><%= t('dashboard.from_location', artist_location: dashboard.artist_location) %></h5>
                <p><strong><%= t('dashboard.currently_members', artist_count: dashboard.artist_count) %></strong></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to t('dashboard.create_new_button'), new_dashboard_path, class: "main-app-btn-pri" %>
  <% end %>
</div>
