<%= link_to :back do %>
  <i class="fas fa-arrow-left"></i>
  <%= t('dashboard.back') %>
<% end %>

<div class="container d-flex flex-column justify-content-center align-items-center text-center form-container">
  <h1 class="display-4 text-white"><%= t('dashboard.new_dashboard') %></h1>
  <h3 class="text-white my-4"><%= t('dashboard.tell_us_about_dashboard') %></h3>
  <p class="text-white"><%= t('dashboard.tell_us_about_you') %></p>

  <%= render 'form', dashboard: @dashboard %>
  <br>
</div>
